VITE_DOMAIN_API_URL=https://igihzeyfgwhnuiflamvn.supabase.co/functions/v1/domain-api
VITE_DOMAIN_PAYMENT_API_URL=https://igihzeyfgwhnuiflamvn.supabase.co/functions/v1/domain-payment-status
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_DA_Z7P8cQ0CNAA26nekJTg_Tm0LLaO8
